#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #2a2a2aff;
  color: #fafafaff;
  padding: 0.5rem;
  margin: 0.25rem;
}

.tetriz-title {
  font-weight: 300;
  font-size: 3.34rem;
  letter-spacing: 8px;
}
