*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --alice: #e8f1f2ff;
  --alice: hsla(186, 28%, 93%, 1);

  --beaver: #96897bff;
  --beaver: hsla(31, 11%, 54%, 1);

  --buff: #cf995fff;
  --buff: hsla(31, 54%, 59%, 1);

  --chestnut: #a44a3fff;
  --chestnut: hsla(7, 44%, 45%, 1);

  --cadet: #9cafb7ff;
  --cadet: hsla(191, 16%, 66%, 1);

  --cambridge: #94a89aff;
  --cambridge: hsla(138, 10%, 62%, 1);

  --airforce: #628395ff;
  --airforce: hsla(201, 21%, 48%, 1);

  --rich: #031927ff;
  --rich: hsla(203, 86%, 8%, 1);

  --jet: #353238ff;
  --jet: hsla(270, 6%, 21%, 1); */

  --text: hsla(270, 6%, 21%, 1);
  --background: hsla(186, 28%, 93%, 1);
  --primary: hsla(203, 86%, 8%, 1);
  --secondary: hsla(191, 16%, 66%, 1);
  --tertiary: hsla(201, 21%, 48%, 1);
  --quaternary: hsla(138, 10%, 62%, 1);
  --accent: hsla(7, 44%, 45%, 1);
  --highlight: hsla(31, 54%, 59%, 1);
  --complement: hsla(31, 11%, 54%, 1);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --text: hsla(186, 28%, 93%, 1);
    --background: hsla(270, 6%, 21%, 1);
    --primary: hsla(201, 21%, 48%, 1);
    --secondary: hsla(138, 10%, 62%, 1);
    --tertiary: hsla(203, 86%, 8%, 1);
    --quaternary: hsla(191, 16%, 66%, 1);
    --accent: hsla(7, 44%, 45%, 1);
    --highlight: hsla(31, 54%, 59%, 1);
    --complement: hsla(31, 11%, 54%, 1);
  }
}

body {
  width: 100%;
  min-height: 100dvh;
}

.app {
  max-width: 100dvw;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--secondary);
  text-decoration: underline;
  transition: color 0.4s ease-in-out;
}

button {
  width: 7rem;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.4em 1em;
  font-size: 1rem;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--primary);
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--accent);
}

.tetriz-container {
  background-color: var(--text);
  margin: 0.55rem;
  place-items: center;
  border-radius: 13px;
}

.tetriz-title {
  color: var(--tertiary);
  font-weight: 600;
  font-size: 2.14rem;
  letter-spacing: 8px;
  padding-top: 1.67rem;
}

.tetriz-greeting {
  font-weight: 300;
  font-size: 1.22rem;
  -webkit-font-smoothing: subpixel-antialiased;
  padding-bottom: 1.67rem;
}

.game-area-container {
  background-color: var(--text);
  color: var(--background);
  padding: 1.5rem;
  border-radius: 13px;
}

.instructions-title {
  font-weight: 400;
  font-size: 0.88rem;
  letter-spacing: 0.105rem;
}

.tetriz-instructions {
  padding: 0 1.8rem;
  font-weight: 300;
  font-size: 0.88rem;
  letter-spacing: 0.105rem;
  font-style: italic;
  text-align: left;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--background);
    background-color: var(--text);
  }

  a {
    color: var(--complement);
  }

  a:hover {
    color: var(--primary);
  }
  button {
    background-color: var(--text);
    color: var(--background);
  }

  button:hover {
    border-color: var(--background);
  }
}
